@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
    local('SourceSansPro-Regular'),
    url(fonts/SourceSansPro-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'),
    local('SourceSansPro-Bold'),
    url('fonts/SourceSansPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'),
    local('SourceSansPro-Black'),
    url('fonts/SourceSansPro-Black.woff') format('woff');
}

body {
  -webkit-user-select: none;
  overflow: hidden;
}
.itemlist {
  position: fixed;
}
.input_layer {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1005;

  cursor: crosshair;

  display: none;
}
.itemlist > div {
  border: 0;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
}
.itemlist > div:focus {
  outline: double 5px #b97;
}
.itemlist > div > div {
  white-space: nowrap;
}
.itemlist > div > img {
  position: relative;
}
.itemlist > div[active]:hover, img[active]:hover {
  box-shadow:
      0px 0px 5px 5px rgba(20, 40, 200, 0.2),
      0px 0px 2px 3px rgba(120, 240, 100, 0.3)
}
.selected {
  background-color: rgba(200, 220, 210, 0.4);
}

.surface {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.stroke_layer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
}
.draw_cursor {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1003;
  display: none;
  border-style: solid;
  border-color: #fa9;
}
.draw_cursor div {
  margin-left: -1em;
  margin-top: -1em;
}
.palette_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1006;
  background-color: rgba(120, 140, 200, 0.2);
}
.palette {
  box-shadow: 0px 1px 7px #222;
  display: none;
  border-radius: 5px;
}
.color_sel div {
  display: inline-block;
  margin: 3px 3px 3px 3px;
  height: 30px;
  width: 30px;
  box-shadow: 1px 2px 7px #222;
  border-radius: 2px;
}
.color_sel div.selected {
  box-shadow: inset 1px 2px 7px #222;
}
.tool_sample {
  width: 50px;
  height: 50px;
}
.color_sample {
  display: inline-block;
  margin: 3px 3px 3px 3px;
  border-width: 5px;
  height: 30px;
  width: 30px;
}
.color_sample0 {
  border-style: double;
  border-color: #666;
}
.color_sample1 {
  border-style: solid;
  border-color: #bbb;
}
.sample_size {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.box {
  display: inline-block;
}
.control_box {
  display: inline-block;
  border-style: groove;
  border-width: 2px;
  padding: 3px 7px;
}
.control_hilite {
  background-color: #eec;
  border-style: solid;
}
.color_name {
  margin-left: 5px;
}
.sample_box {
  display: inline-block;
  position: relative;
}
.img_undolist {
  display: none;
}
.control_root {
  z-index: 1004;
  position: fixed;
  display: none;
}

.mode_indicator {
  color: #666;
  position: fixed;
  top: 0;
  right: 0;
  margin: 3px 10px;
}

.mode_indicator_text {
  color: #e74;
  font-weight: 900;
  display: inline-block;
  padding: 3px 8px;
  margin: 0 5px 0 0;
}

.buttonbox {
  position: fixed;
}

.button {
  transition-property: width, margin, padding, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-radius: 2px;
  box-shadow: inset 0 0 2px black;
  color: #444;
  font-size: 13px;
  margin: 2px;
  padding: 7px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.95);
  text-transform: none;
}
.button:active {
  box-shadow: 0 0 7px 5px #aae, inset 0 0 2px black;
}
.buttonbox .button.hidden {
  color: rgba(100, 100, 100, 0.0);
  margin: 0;
  padding: 7px 0;
  text-shadow: none;
  width: 0;
}

.buttongroup {
  margin: 15px 0;
  padding: 5px 1px;
}

.buttongroup_label {
  color: #666;
  margin: 0 10px 0 0;
  text-align: right;
  text-transform: uppercase;
}

.global_box {
  right: 1px;
  top: 40px;
}
.global_box .button {
  background-image: -webkit-linear-gradient(
      top, rgba(210, 200, 120, 0.5), rgba(190, 170, 90, 0.5));
  margin: 4px 7px 4px 0;
}
.global_box .button:hover {
  background-color: rgba(150, 150, 50, 0.5);
}

.selection_box {
  left: 1px;
  bottom: 1px;
  position: absolute;
  top: 100%;
  width: 1000px;
  margin-top: 10px;
  margin-left: -10px;
}
.selection_box .button {
  display: inline-block;
  background-image: -webkit-linear-gradient(
      top, rgba(150, 200, 190, 0.5), rgba(110, 160, 150, 0.5));
}
.selection_box .button:hover {
  background-color: rgba(50, 150, 150, 0.5);
}

.selection_marker {
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 7px solid rgba(70, 70, 120, 0.3);
  left: -5px;
  top: -5px;
  padding: 3px;
  /*
   * Margin to cancel the border and padding so that the contens' top/left
   * corner is what is specified by top/left attribs.
   */
  margin: -10px;
  transition-property: width, height, top, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
